:root {
  --scale-color: rgba(0, 0, 0, 0.3);
}
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.message {
  margin: 0 auto 1rem;
  padding: 0 0.5rem 0.25rem 1rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.message span {
  margin-top: 0.25rem;
}
.message button {
  margin: 0;
  margin-left: 0.5rem;
  border: 0;
  padding: 0 0.25rem;
  background: none;
  font-size: 2rem;
  line-height: normal;
  cursor: pointer;
}
.message.error {
  background-color: #ab3434;
}
.message.error span,
.message.error button {
  color: #e9e4e4;
}
.hidden {
  display: none;
}
main {
  width: 30rem;
  max-width: 100%;
  min-width: 20rem;
  margin: 0 auto;
  padding: 1rem 0.75rem;
  border-radius: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
button,
input[type=text],
input[type=number] {
  padding: 0.25rem;
  border: 1px #ccc solid;
  border-radius: 0.25rem;
}
button {
  padding: 0.25rem 0.5rem;
}
[class^=form-group] {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
[class^=form-group] > * + * {
  margin-left: 0.5rem;
}
.form-group label {
  width: 6rem;
}
.form-group label + * {
  flex-grow: 1;
}
.form-group input,
.form-group select {
  min-width: 2rem;
}
.form-group__range label {
  width: 3rem;
}
.form-group__range input[type=number] {
  width: 3.5rem;
}
.form-group__range .range-scale {
  flex-grow: 1;
}
.form-group__range .range-scale input[type=range] {
  width: 100%;
}
.form-group__radio div label {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}
table {
  width: 100%;
  max-width: 60rem;
  margin: 1rem auto;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
